<table>
  <tbody>
    <tr>
      <th>redmineLogTimeControl days limit</th>
      <td><input type="text" id="settings_time_limit" 
                     value="<%= settings['time_limit'] %>" 
             name="settings[time_limit]" >
    </tr>
  </tbody>
</table>